# 系统与编辑器
.DS_Store
.idea/
.vscode/

# 构建与临时
dist/
tmp/
logs/

# 小程序/TDESIGN 构建产物
miniprogram_npm/

# Node 依赖
node_modules/
cloudfunctions/**/node_modules/

# 云开发本地缓存/打包中间文件（如有）
.cloudbase/

# 日志
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
